/* line 12, ../sass/_themeDark.sass */
html[lang="en"] .arrow {
  height: 22px;
  width: 22px;
  background-position: 0px 0px !important;
  background: none;
}
/* line 17, ../sass/_themeDark.sass */
html[lang="en"] .arrow.down {
  background-image: url(%%arrow-down-off%%);
}
/* line 19, ../sass/_themeDark.sass */
html[lang="en"] .arrow.downmod {
  background-image: url(%%arrow-down%%);
}
/* line 21, ../sass/_themeDark.sass */
html[lang="en"] .arrow.up {
  background-image: url(%%arrow-up-off%%);
}
/* line 23, ../sass/_themeDark.sass */
html[lang="en"] .arrow.upmod {
  background-image: url(%%arrow-up%%);
}

/* line 1, ../sass/_base.sass */
body {
  background-color: black;
}

/* line 4, ../sass/_base.sass */
a {
  text-decoration: none;
  color: #aa6600;
}

/* line 8, ../sass/_base.sass */
a:hover {
  color: #ffcc00;
}

/* line 11, ../sass/_base.sass */
::selection {
  color: white;
  background-color: #1111aa !important;
}

/* line 15, ../sass/_base.sass */
code {
  color: #37df37;
}

/* line 19, ../sass/_base.sass */
.md ul {
  margin: 10px 20px;
  list-style-image: url(%%arrow%%) !important;
}

/* line 3, ../sass/_layout.sass */
body {
  background: black;
  background: url(%%background%%);
  background-repeat: repeat;
}

/* line 7, ../sass/_layout.sass */
body > .content {
  margin: 0px;
  padding: 7px 5px 0px 5px;
  background: none;
  color: #eeeeee;
}

/* line 14, ../sass/_layout.sass */
.thing.spam {
  background: none;
  border-color: salmon;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
}
/* line 19, ../sass/_layout.sass */
.thing.reported {
  background: none;
  border-color: yellow;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  margin-left: 10px;
  padding-left: 15px;
}

/* line 28, ../sass/_layout.sass */
.listing-page .thing .title {
  height: 22px;
  margin: 0px;
  height: 19px;
  overflow: hidden;
  max-width: 800px;
}
/* line 35, ../sass/_layout.sass */
.listing-page .thing .title .domain {
  font-size: 0px;
  top: -2px;
  position: relative;
  padding: 5px;
  height: 10px;
  display: inline-block;
}
/* line 42, ../sass/_layout.sass */
.listing-page .thing .title .domain a {
  font-size: x-small;
}
/* line 44, ../sass/_layout.sass */
.listing-page .thing .title .domain::before {
  content: "► ";
  font-size: x-small;
}
/* line 48, ../sass/_layout.sass */
.listing-page .thing .title.self .domain::before {
  content: "◄";
  /*★ */
}
/* line 51, ../sass/_layout.sass */
.listing-page .thing .title.self .domain a {
  display: none;
}

/* line 54, ../sass/_layout.sass */
.compressed .rank {
  margin-top: 13px;
}

/* line 57, ../sass/_layout.sass */
.listing-page .link {
  margin-bottom: 15px;
}
/* line 59, ../sass/_layout.sass */
.listing-page .link .rank {
  margin-top: 20px;
  margin-right: 5px;
}
/* line 62, ../sass/_layout.sass */
.listing-page .link .entry {
  position: relative;
  min-height: 64px;
}

/*res extension fixes */
/* line 5, ../sass/_modules_res.sass */
.NERPageMarker {
  background: none !important;
  border-width: 0px 0px 1px 0px !important;
  border-radius: 0px !important;
  border-style: dashed !important;
  padding-top: 0px !important;
  border-color: gray !important;
  color: #eeeeee !important;
}

/* line 14, ../sass/_modules_res.sass */
.neverEndingReddit {
  background: none !important;
  border-width: 0px 0px 1px 0px !important;
  border-radius: 0px !important;
  border-style: dashed !important;
  padding-top: 0px !important;
  border-color: gray !important;
  color: #eeeeee !important;
}
/* line 22, ../sass/_modules_res.sass */
.neverEndingReddit img {
  display: none;
}

/* author info tool tip */
/* line 27, ../sass/_modules_res.sass */
.RESDialogSmall {
  background-color: black !important;
  color: #eeeeee !important;
}
/* line 30, ../sass/_modules_res.sass */
.RESDialogSmall > h3 {
  background-color: #222222 !important;
  color: #eeeeee !important;
}

/* line 34, ../sass/_modules_res.sass */
#authorInfoToolTip .blueButton {
  background-color: #21587e !important;
}

/* line 37, ../sass/_modules_res.sass */
.fancy-toggle-button .add {
  background: #116428 !important;
}

/* line 40, ../sass/_modules_res.sass */
.RESCloseButton {
  background: black !important;
}
/* line 42, ../sass/_modules_res.sass */
.RESCloseButton:hover {
  background: #444444 !important;
}

/*sidebar */
/* line 2, ../sass/_modules_side.sass */
.side {
  color: #eeeeee !important;
  background: none;
  z-index: 500;
}
/* line 7, ../sass/_modules_side.sass */
.side .titlebox .redditname a {
  text-transform: uppercase;
  color: #eeeeee !important;
}
/* line 11, ../sass/_modules_side.sass */
.side .titlebox .word {
  display: none;
}
/* line 13, ../sass/_modules_side.sass */
.side .titlebox .number::after {
  content: " broodlings";
}
/* line 16, ../sass/_modules_side.sass */
.side .titlebox.create {
  display: none;
}
/* line 18, ../sass/_modules_side.sass */
.side .titlebox .spacer {
  background: none;
}
/* line 21, ../sass/_modules_side.sass */
.side .titlebox .titlebox form.toggle {
  background: none;
}
/* line 25, ../sass/_modules_side.sass */
.side .titlebox .leavemoderator {
  background: none;
}
/* line 29, ../sass/_modules_side.sass */
.side .titlebox .flairtoggle {
  background: none;
}
/* line 32, ../sass/_modules_side.sass */
.side .titlebox .bottom {
  display: none;
}
/* line 35, ../sass/_modules_side.sass */
.side .titlebox .tagline {
  background-color: black;
  margin: 2px;
  border-radius: 5px;
  padding: 5px 0 5px 20px;
}

/* line 42, ../sass/_modules_side.sass */
.side .sidecontentbox .content {
  background-color: black;
}

/*mostly a helper for the side expandos */
/* line 46, ../sass/_modules_side.sass */
.side hr {
  display: none;
}

/*side expandos */
/* line 52, ../sass/_modules_side.sass */
.side blockquote {
  border: none !important;
  padding: 0px;
  margin: 0px !important;
  padding-top: 10px;
}
/* line 57, ../sass/_modules_side.sass */
.side blockquote blockquote {
  padding-bottom: 0px;
  padding-top: 0px;
  height: 25px;
  overflow: hidden;
  opacity: 0.5;
}
/* line 64, ../sass/_modules_side.sass */
.side blockquote:hover blockquote {
  display: block;
  height: auto;
  opacity: 1;
  padding-bottom: 5px;
}

/* sidebar */
/* about */
/* line 75, ../sass/_modules_side.sass */
.side .usertext-body {
  border: 1px solid gray;
  padding: 5px;
}
/* line 78, ../sass/_modules_side.sass */
.side .usertext {
  margin-top: 5px;
}
/* line 80, ../sass/_modules_side.sass */
.side .usertext::before {
  content: "INFORMATION";
  color: gray;
  font-size: 13px;
}

/* line 4, ../sass/_modules_thing.sass */
.listing-page .thing .tagline {
  background-repeat: no-repeat;
  background-position: -5px -3px;
  background: none;
  padding: 0px;
  position: absolute;
  height: 14px;
  left: 30px;
  top: 19px;
}
/* line 14, ../sass/_modules_thing.sass */
.listing-page .thing .flat-list {
  position: absolute;
  top: 33px;
  left: 30px;
  height: 14px;
  padding: 0px;
}

/* thing expando button for selftext */
/* line 27, ../sass/_modules_thing.sass */
html[lang="en"] .entry .expando-button {
  background: none !important;
  cursor: pointer !important;
}
/* line 30, ../sass/_modules_thing.sass */
html[lang="en"] .entry .expando-button.collapsed {
  /*.expando-button.selftext.collapsed */
  background-image: url(%%egg-plus-off%%) !important;
  background-position: -1px -1px !important;
}
/* line 34, ../sass/_modules_thing.sass */
html[lang="en"] .entry .expando-button.collapsed:hover {
  background-image: url(%%egg-plus-on%%) !important;
  background-position: -1px -1px !important;
}

/* line 38, ../sass/_modules_thing.sass */
html[lang="en"] .entry .expando-button.expanded, .eb-se {
  background-image: url(%%egg-minus-off%%) !important;
  background-position: -1px -1px !important;
}

/* line 42, ../sass/_modules_thing.sass */
html[lang="en"] .entry .expando-button.expanded:hover, .eb-seh {
  background-image: url(%%egg-minus-on%%) !important;
  background-position: -1px -1px !important;
}

/* expando button alternative (in-line video) */
/* line 47, ../sass/_modules_thing.sass */
html[lang="en"] .thing .entry .expando-button.video {
  background-image: url(%%Video%%) !important;
  background-position: -8px -3px !important;
}

/* expando button alternative (replays) */
/* line 52, ../sass/_modules_thing.sass */
.listing-page .thing .title .title[href*="drop.sc"]::after {
  position: absolute;
  left: -4px;
  top: 19px;
}

/* line 58, ../sass/_modules_thing.sass */
.link.last-clicked {
  border: none;
}
/* line 60, ../sass/_modules_thing.sass */
.link.last-clicked::before {
  content: "<";
  color: gray;
  height: 20px;
  float: right;
}

/* line 68, ../sass/_modules_thing.sass */
.midcol {
  width: 22px !important;
}

/* line 75, ../sass/_modules_thing.sass */
.link .rank {
  color: #3d3d3d;
}

/* sticky for subscribers */
/* line 2, ../sass/_modules_stickies.sass */
.side h4 {
  padding: 2px 6px 0 6px;
  margin: 0px;
  position: absolute;
  top: 129px;
  left: 450px;
  z-index: 100;
  font-size: 12px;
  background: black;
  color: white;
  font-weight: normal;
  display: none;
  opacity: 0.8;
}

/* line 16, ../sass/_modules_stickies.sass */
body.subscriber .side h4 {
  display: block;
}

/* sticky for mods */
/* line 20, ../sass/_modules_stickies.sass */
.side h5 {
  padding: 2px 6px 0 6px;
  margin: 0px;
  position: absolute;
  top: 129px;
  left: 345px;
  z-index: 100;
  font-size: 12px;
  background: black;
  color: white;
  font-weight: normal;
  display: none;
}

/* line 33, ../sass/_modules_stickies.sass */
body.moderator.listing-page .side h5 {
  display: block;
}

/* sticky (for all) */
/* line 38, ../sass/_modules_stickies.sass */
.side h6 {
  border: none !important;
  padding: 4px;
  margin: 0px;
  position: absolute;
  top: 25px;
  background: white;
  left: 295px;
  z-index: 100;
  border-radius: 5px;
  font-size: small;
  color: black;
  max-width: 450px;
  box-shadow: 0px 0px 15px 0px white;
}
/* line 52, ../sass/_modules_stickies.sass */
.side h6 a:hover {
  text-decoration: underline;
}

/* line 4, ../sass/_modules_text_features.sass */
.md a[href$="#spoiler"] {
  background: black !important;
  color: black !important;
  border-bottom: 1px dashed red;
  cursor: help;
}
/* line 9, ../sass/_modules_text_features.sass */
.md a[href$="#spoiler"]::before {
  color: white !important;
  content: "Spoiler:";
  border-bottom: 1px solid black;
  margin-right: 5px;
}
/* line 14, ../sass/_modules_text_features.sass */
.md a[href$="#spoiler"]:hover {
  color: white !important;
  border-bottom: 0px solid red;
}

/* line 9, ../sass/_modules.sass */
.icon-menu a {
  background: none;
}

/* line 15, ../sass/_modules.sass */
#search input[type="text"] {
  border: 0px solid white;
  border-radius: 3px;
  outline: none;
  background: black;
  color: white;
  padding: 3px 6px;
  opacity: 0.75;
  width: 290px;
}
/* line 24, ../sass/_modules.sass */
#search input[type="text"]:hover {
  box-shadow: 0px 0px 5px 0px #ffcc00;
}
/* line 26, ../sass/_modules.sass */
#search input[type="text"]:focus {
  padding: 2px 5px;
  border: 1px solid white;
  opacity: 1;
}

/* line 31, ../sass/_modules.sass */
.infobar {
  background: none;
}

/* line 35, ../sass/_modules.sass */
#sr-header-area {
  position: relative;
  z-index: 901;
  width: 100%;
  background-color: black;
  color: white;
}
/* line 41, ../sass/_modules.sass */
#sr-header-area .sr-bar a {
  color: #aa6600;
}

/* line 44, ../sass/_modules.sass */
#header {
  border-bottom: 1px solid #b67d27;
  background-color: black;
  height: 145px;
  overflow: hidden;
}
/* line 51, ../sass/_modules.sass */
#header .pagename.redditname a {
  background: url(%%banneroff%%);
  width: 1670px;
  height: 125px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 19px;
  text-indent: -9999px;
  z-index: 100;
  background-repeat: no-repeat;
}
/* line 62, ../sass/_modules.sass */
#header .pagename.redditname a:hover {
  background: url(%%banneron%%);
}
/* line 67, ../sass/_modules.sass */
#header #header-bottom-left #header-img {
  opacity: 0.4;
  position: absolute;
  bottom: 40px;
  left: -35px;
  z-index: 300;
  height: 44px;
  width: 66px;
}
/* line 76, ../sass/_modules.sass */
#header #header-bottom-left #header-img:hover {
  opacity: 1;
  left: -15px;
}
/* line 80, ../sass/_modules.sass */
#header #header-bottom-left ul.tabmenu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 200;
}
/* line 85, ../sass/_modules.sass */
#header #header-bottom-left ul.tabmenu li {
  font-weight: normal;
}
/* line 87, ../sass/_modules.sass */
#header #header-bottom-left ul.tabmenu li a {
  background-color: black;
}
/* line 89, ../sass/_modules.sass */
#header #header-bottom-left ul.tabmenu li.selected a {
  background-color: black;
  border: 1px solid #b67d27;
  box-shadow: 0px 0px 10px #b67d27;
}
/* line 93, ../sass/_modules.sass */
#header #header-bottom-left ul.tabmenu li #viewImagesButton {
  display: none;
}
/* line 98, ../sass/_modules.sass */
#header #header-bottom-right {
  z-index: 200;
  background: none;
}

/* inline flair */
/* line 105, ../sass/_modules.sass */
.flair {
  background: none;
  color: #eeeeee;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* line 113, ../sass/_modules.sass */
.flair.flair-Mod {
  border: red solid 1px;
  border-radius: 0px;
  border-width: 0px 0px 0px 1px;
  margin-right: 5px;
  margin-left: 1px;
  padding-left: 2px;
}
/* line 120, ../sass/_modules.sass */
.flair.flair-Master, .flair.flair-Master2 {
  background-image: url(%%master%%);
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: -1px -1px;
  height: 14px;
  width: 1px;
  overflow: hidden;
  margin: 0px;
  margin-left: 2px;
  text-indent: 2px;
}
/* line 131, ../sass/_modules.sass */
.flair.flair-Grandmaster {
  background-image: url(%%grandmaster%%);
}
/* line 133, ../sass/_modules.sass */
.flair.flair-Master2 {
  background: none;
  padding-left: 0px;
  width: 10px;
}
/* line 137, ../sass/_modules.sass */
.flair.flair-Master2::before {
  content: "?";
  text-indent: 0px;
  padding-right: 10px;
}
/* line 141, ../sass/_modules.sass */
.flair.flair-Master2:hover::before {
  content: "";
  padding-right: 0px;
}
/* line 144, ../sass/_modules.sass */
.flair.flair-Master:hover, .flair.flair-Master2:hover {
  width: auto;
}
/* line 146, ../sass/_modules.sass */
.flair.flair-EU:hover::after {
  content: " (EU)";
  color: grey;
}
/* line 149, ../sass/_modules.sass */
.flair.flair-Bitch:hover::before {
  content: "(bitch) ";
  color: red;
}
/* line 152, ../sass/_modules.sass */
.flair.flair-NA:hover::after, .flair.flair-AM:hover::after {
  content: " (AM)";
  color: grey;
}
/* line 155, ../sass/_modules.sass */
.flair.flair-KR:hover::after {
  content: " (KR)";
  color: grey;
}
/* line 158, ../sass/_modules.sass */
.flair.flair-SEA:hover::after {
  content: " (SEA)";
  color: grey;
}

/* parent comment popup dimmer */
/* line 168, ../sass/_modules.sass */
.parentComment.comment {
  color: white !important;
  background-color: black !important;
  overflow: visible !important;
  z-index: 2147483649 !important;
  box-shadow: 0px 0px 250px 200px black;
}

/* wiki stuff */
/* headings */
/* line 184, ../sass/_modules.sass */
.md.wiki h1, .md.wiki h2, .md.wiki h3, .md.wiki h4, .md.wiki h5, .md.wiki h6 {
  color: #eeeeee;
}

/* wiki specifics */
/* line 190, ../sass/_modules.sass */
.wiki-page > .content > span {
  display: inline-block;
  border-top: 1px solid #b67d27;
  padding-right: 13px;
}

/* line 195, ../sass/_modules.sass */
.wikititle {
  font-size: 16px;
  font-size: 14px;
  font-family: courier, fixed-width;
}
/* line 196, ../sass/_modules.sass */
.wikititle::before {
  content: "wiki/";
}
/* line 201, ../sass/_modules.sass */
.wikititle strong {
  font-weight: normal !important;
}

/* page actions */
/* line 206, ../sass/_modules.sass */
.pageactions {
  border: 1px solid gray;
  /* alt */
  border: none;
  border-radius: 0px;
  /* alt */
  /* second alt */
  padding-left: 15px;
  margin: 0px;
}
/* line 215, ../sass/_modules.sass */
.pageactions .wikiaction-current {
  background: none;
  color: orangered;
  border: 1px solid #b67d27;
  border-top: none;
  border-radius: 0px;
}
/* line 221, ../sass/_modules.sass */
.pageactions .wikiaction {
  margin-top: 0px;
}
/* line 223, ../sass/_modules.sass */
.pageactions .wikiaction:hover {
  background: none;
}

/* main content area */
/* line 228, ../sass/_modules.sass */
.wiki-page-content > hr {
  border: none;
  margin-bottom: 20px;
}

/* bottom line */
/* table of contents */
/* line 236, ../sass/_modules.sass */
div.wiki div.toc > ul {
  width: 300px;
  overflow: hidden;
  background: none !important;
  border: 1px solid gray;
  margin-top: 20px;
  padding: 4px 10px !important;
  list-style: none !important;
}

/* line 245, ../sass/_modules.sass */
.md.wiki > .toc > ul ul {
  border: none;
}

/* line 248, ../sass/_modules.sass */
.wiki .toc > ul::before {
  display: block !important;
  content: "INDEX";
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  color: gray;
  text-align: left;
  margin-top: -21px;
  margin-left: -11px;
  width: 300px;
  position: absolute !important;
}

/*comment page specific styles */
/* line 263, ../sass/_modules.sass */
.linkinfo {
  background: none;
}

/* line 266, ../sass/_modules.sass */
.link .usertext .md {
  background-color: black;
  max-width: 90em;
  margin: 0 5px;
}

/* line 271, ../sass/_modules.sass */
.md blockquote, .help blockquote {
  border-left: 2px solid #aa6600;
}

/* line 274, ../sass/_modules.sass */
.commentarea .comment {
  background: none !important;
}
/* line 276, ../sass/_modules.sass */
.commentarea .comment .comment {
  background: none !important;
}
/* line 278, ../sass/_modules.sass */
.commentarea .comment .comment .comment {
  background: none !important;
}
/* line 280, ../sass/_modules.sass */
.commentarea .comment .comment .comment .comment {
  background: none !important;
}
/* line 282, ../sass/_modules.sass */
.commentarea .comment .comment .comment .comment .comment {
  background: none !important;
}
/* line 284, ../sass/_modules.sass */
.commentarea .comment .comment .comment .comment .comment .comment {
  background: none !important;
}
/* line 286, ../sass/_modules.sass */
.commentarea .comment .comment .comment .comment .comment .comment .comment {
  background: none !important;
}
/* line 288, ../sass/_modules.sass */
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment {
  background: none !important;
}
/* line 290, ../sass/_modules.sass */
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background: none !important;
}
/* line 292, ../sass/_modules.sass */
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background: none !important;
}

/* line 299, ../sass/_modules.sass */
.usertext-body {
  background: none;
}

/* submit a link */
/* line 304, ../sass/_modules.sass */
.submit-link {
  display: none;
}

/* line 306, ../sass/_modules.sass */
.morelink {
  background: none;
  border: 1px solid gray;
}
/* line 309, ../sass/_modules.sass */
.morelink:hover {
  background: none;
  border: 1px solid gray;
}
/* line 312, ../sass/_modules.sass */
.morelink a {
  color: #aa6600;
}
/* line 314, ../sass/_modules.sass */
.morelink .nub {
  display: none;
}
/* line 316, ../sass/_modules.sass */
.morelink + .spacer {
  display: none;
  padding: 0px;
}
/* line 319, ../sass/_modules.sass */
.morelink + .spacer a {
  display: none;
}
/* line 321, ../sass/_modules.sass */
.morelink:hover + .spacer {
  display: block;
}

/* line 327, ../sass/_modules.sass */
.content.submit .info-notice, .tabmenu.formtab .selected a {
  background: none;
}

/* line 330, ../sass/_modules.sass */
.tabmenu.formtab a {
  border: none;
}

/* line 333, ../sass/_modules.sass */
.formtab-content {
  border-top: 2px solid white;
}

/* reddit give gold */
/* line 338, ../sass/_modules.sass */
.give-gold {
  visibility: hidden;
  float: right;
}

/* line 341, ../sass/_modules.sass */
.entry:hover .give-gold {
  visibility: visible;
}

/* line 344, ../sass/_modules.sass */
.entry:hover .flat-list.buttons {
  display: inline;
}

/* line 350, ../sass/_modules.sass */
.new-comment .usertext-body {
  background: none !important;
  border: none !important;
}

/* line 359, ../sass/_modules.sass */
.choice:hover {
  background: #333333 !important;
}

/* line 365, ../sass/_modules.sass */
.voteWeight {
  color: #eeeeee !important;
  background: none !important;
}

/* line 371, ../sass/_modules.sass */
.nextprev a {
  background: none;
}

/* line 375, ../sass/_modules.sass */
.footer {
  border: 1px solid gray;
  border-radius: 0px;
}

/* line 3, ../sass/_theme.sass */
.comment .md p > a:visited {
  color: #aa6600 !important;
}

/* line 6, ../sass/_theme.sass */
.comment .md p > a:hover {
  color: #ffcc00 !important;
}

/* line 9, ../sass/_theme.sass */
.newComments {
  color: #ffcc00 !important;
}

/* line 13, ../sass/_theme.sass */
.entry .buttons li.trial-stamp, .entry .buttons li.reported-stamp {
  color: black;
}

/* line 16, ../sass/_theme.sass */
a.author.submitter {
  color: #ffcc00 !important;
  background: none !important;
}
/* line 19, ../sass/_theme.sass */
a.author.submitter:hover {
  color: yellow !important;
  background: none !important;
}

/* line 23, ../sass/_theme.sass */
h2 {
  color: #dddddd;
}
/* line 25, ../sass/_theme.sass */
h2 a {
  color: #aa6600;
}

/* line 28, ../sass/_theme.sass */
p.tagline em {
  color: #eeeeee;
  display: none;
}

/* line 33, ../sass/_theme.sass */
.usertext.grayed .usertext-body {
  color: red;
  background: none;
}

/* line 37, ../sass/_theme.sass */
.linefield {
  background: none;
}

/* line 40, ../sass/_theme.sass */
.roundfield {
  background-color: black;
}

/* line 44, ../sass/_theme.sass */
.tagline a {
  color: #aa6600;
  text-decoration: none;
}
/* line 47, ../sass/_theme.sass */
.tagline a:hover {
  color: #ffcc00;
  text-decoration: none;
}
/* line 50, ../sass/_theme.sass */
.tagline .submitter {
  color: #ffcc00;
}

/* line 54, ../sass/_theme.sass */
#header #RESShortcuts .RESShortcutsCurrentSub:visited {
  color: #ffcc00 !important;
}
/* line 56, ../sass/_theme.sass */
#header #RESShortcuts .RESShortcutsCurrentSub:hover {
  color: yellow !important;
}

/* line 59, ../sass/_theme.sass */
.dropdown.srdrop .selected {
  color: #eeeeee;
}

/* line 62, ../sass/_theme.sass */
#sr-more-link {
  color: #eeeeee;
  background-color: black;
}

/* line 67, ../sass/_theme.sass */
.keyHighlight {
  background-color: #000022 !important;
}

/* line 72, ../sass/_theme.sass */
.thing .title {
  color: #ffcc00 !important;
}
/* line 74, ../sass/_theme.sass */
.thing .title:hover {
  color: yellow !important;
}
/* line 76, ../sass/_theme.sass */
.thing .title:visited, .thing .title.click {
  color: #aa6600 !important;
}
/* line 78, ../sass/_theme.sass */
.thing .title:visited:hover, .thing .title.click:hover {
  color: #ffcc00 !important;
}

/* line 83, ../sass/_theme.sass */
.listing-page .thing .title .title[href*="drop.sc"]::after {
  content: url(%%Video%%);
}

/*flair menu */
/* line 89, ../sass/_theme.sass */
.drop-choices {
  background: black;
}

/* line 92, ../sass/_theme.sass */
.flairselector li {
  border: none;
}

/* light theme */
/* line 13, ../sass/_themeLight.sass */
html[lang="ll"] {
  /*side expandos */
}
/* line 14, ../sass/_themeLight.sass */
html[lang="ll"] body > .content {
  background: white;
  color: black;
}
/* line 17, ../sass/_themeLight.sass */
html[lang="ll"] .side {
  background-color: white;
  color: black !important;
}
/* line 20, ../sass/_themeLight.sass */
html[lang="ll"] h1, html[lang="ll"] h2, html[lang="ll"] h3, html[lang="ll"] h4, html[lang="ll"] h5, html[lang="ll"] h6 {
  color: #222222;
}
/* line 22, ../sass/_themeLight.sass */
html[lang="ll"] .titlebox h1 a {
  color: #222222;
}
/* line 24, ../sass/_themeLight.sass */
html[lang="ll"] body {
  background-color: white;
}
/* line 27, ../sass/_themeLight.sass */
html[lang="ll"] .side h4, html[lang="ll"] .side h5 {
  color: black;
  background-color: white;
}
/* line 30, ../sass/_themeLight.sass */
html[lang="ll"] .sidecontentbox .content, html[lang="ll"] .tabmenu li a {
  background-color: white;
}
/* line 32, ../sass/_themeLight.sass */
html[lang="ll"] #search input[type="text"] {
  color: black;
  background-color: white;
  border: 1px solid black;
}
/* line 36, ../sass/_themeLight.sass */
html[lang="ll"] .listing-page .thing .title .title {
  text-shadow: 1px 1px 0px black;
}
/* line 38, ../sass/_themeLight.sass */
html[lang="ll"] .morelink:hover a {
  color: black;
}
/* line 40, ../sass/_themeLight.sass */
html[lang="ll"] .link .usertext .md {
  background-color: white;
}
/* line 42, ../sass/_themeLight.sass */
html[lang="ll"] .flair {
  color: black;
}
/* line 44, ../sass/_themeLight.sass */
html[lang="ll"] .titlebox .tagline {
  background-color: white;
}
/* line 46, ../sass/_themeLight.sass */
html[lang="ll"] .keyHighlight {
  background-color: #ddddff !important;
}
/* line 54, ../sass/_themeLight.sass */
html[lang="ll"] .side blockquote blockquote {
  opacity: 0;
}
/* line 57, ../sass/_themeLight.sass */
html[lang="ll"] .side blockquote:hover blockquote {
  padding-bottom: 0px;
  opacity: 1;
}

/* line 61, ../sass/_themeLight.sass */
#header {
  box-shadow: 0px -10px 10px 10px black;
}
