.listing-page > .content
  //margin-right: 310px
  
.thing
  &.spam
    background: none
    border-color: salmon
    border-width: 0px 0px 0px 5px
    border-style: solid
  &.reported
    background: none
    border-color: yellow
    border-width: 0px 0px 0px 5px
    border-style: solid
    margin-left: 10px
    padding-left: 15px
    
    
.listing-page .thing .title
  height: 22px
  .title
  margin: 0px
  height: 19px
  overflow: hidden
  max-width: 800px
  .domain
    font-size: 0px
    top: -2px
    position: relative
    padding: 5px
    height: 10px
    display: inline-block
    a
      font-size: x-small
    &::before
      content: "► "
      font-size: x-small
  &.self .domain
    &::before
      content: "◄"
      /*★
    a
      display: none

.compressed .rank
  margin-top: 13px
.listing-page
  .link
    margin-bottom: 15px
    .rank
      margin-top: 20px
      margin-right: 5px
    .entry
      position: relative
      min-height: 64px
      
      