.content
  padding: 7px 5px 0px 5px
  margin: 0

.listing-page > .content
  margin-right: 350px

.thing
  &.spam
    background: none
    border-color: salmon
    border-width: 0px 0px 0px 5px
    border-style: solid
  &.reported
    background: none
    border-color: yellow
    border-width: 0px 0px 0px 5px
    border-style: solid
    margin-left: 10px
    padding-left: 15px


.listing-page .thing .title
  white-space: nowrap
  overflow: hidden
  margin: 0
  line-height: 24px
  height: 24px
  .title
    margin: 0
  .domain
    vertical-align: middle
    left: -2000px
    position: relative
    padding: 0 5px
    a
      left: 2000px
      position: relative
    &::before
      left: 2000px
      position: relative
      content: "► "
  &.self .domain
    &::before
      content: "◄"
      //★
    a
      display: none

.thing
  //(2|0) submitted 14 hours ago
  .tagline
    background: none
    padding: 0

.link
  //comments share save hide ....
  .flat-list
    padding: 0


.compressed .rank
  margin-top: 13px
.listing-page
  .link
    margin-bottom: 15px
    .rank
      margin-top: 25px
      margin-right: 5px
    .midcol
      .score
        margin: 4px 0
    .entry
      position: relative

.link
  padding: 0

.entry
  margin: 0