@import modules_res
@import modules_side
@import modules_thing
@import modules_stickies
@import modules_text_features


//moderation tools
.icon-menu a
  background: none
  
  
  
//seach reddit
#search input[type="text"]
  border: 0px solid white
  border-radius: 3px
  outline: none
  padding: 3px 6px
  opacity: .75
  width: 290px
  &:hover
    box-shadow: 0px 0px 5px 0px $linkNormal
  &:focus
    padding: 2px 5px
    border: 1px solid white
    opacity: 1
//search helper
.infobar
  background: none
  
//subreddit links header stuff
#sr-header-area
  position: relative
  z-index: 901
  width: 100%
  background-color: $background
  color: white
  .sr-bar a
    color: $linkVisited

#header #header-bottom-left
  //hot new controversial top saved
  ul.tabmenu
    position: absolute
    bottom: 0px
    left: 0px
    z-index: 200
    li
      font-weight: normal
      #viewImagesButton
        display: none
      
      
  //reddit name karma messages preferences logout
  #header-bottom-right
    z-index: 200
    background: none
    
   
  
/* inline flair
.flair
  background: none
  color: $textFace
  border: none
  margin: 0px
  padding: 0px 

.flair
  &.flair-Mod
    border: red solid 1px
    border-radius: 0px
    border-width: 0px 0px 0px 1px
    margin-right: 5px
    margin-left: 1px
    padding-left: 2px
  &.flair-Master, &.flair-Master2
    background-image: url(%%master%%)
    background-repeat: no-repeat
    padding-left: 15px
    background-position: -1px -1px
    height: 14px
    width: 1px
    overflow: hidden
    margin: 0px
    margin-left: 2px
    text-indent: 2px
  &.flair-Grandmaster
    background-image: url(%%grandmaster%%)
  &.flair-Master2
    background: none
    padding-left: 0px
    width: 10px
    &::before
      content: "?"
      text-indent: 0px
      padding-right: 10px
    &:hover::before
      content: ""
      padding-right: 0px
  &.flair-Master:hover, &.flair-Master2:hover
    width: auto
  &.flair-EU:hover::after
    content: " (EU)"
    color: grey
  &.flair-Bitch:hover::before
    content: "(bitch) "
    color: red
  &.flair-NA:hover::after, &.flair-AM:hover::after
    content: " (AM)"
    color: grey
  &.flair-KR:hover::after
    content: " (KR)"
    color: grey
  &.flair-SEA:hover::after
    content: " (SEA)"
    color: grey
  

  
    
    
    
/* parent comment popup dimmer
.parentComment.comment
  color: white !important
  background-color: $background !important
  overflow: visible !important
  z-index: 2147483649 !important
  box-shadow: 0px 0px 250px 200px $background
  
  
  
  
  
  
/* wiki stuff

/* headings
.md.wiki
  h1, h2, h3, h4, h5, h6
    color: $textFace
    
    
/* wiki specifics

.wiki-page > .content > span
  display: inline-block
  border-top: 1px solid #B67D27
  padding-right: 13px

.wikititle
  &::before
    content: "wiki/"
  font-size: 16px
  font-size: 14px
  font-family: courier,fixed-width
  strong
    font-weight: normal !important

/* page actions

.pageactions
  border: 1px solid gray
  /* alt
  border: none
  border-radius: 0px
  /* alt
  /* second alt
  padding-left: 15px
  margin: 0px
  .wikiaction-current
    background: none
    color: orangeRed
    border: 1px solid #B67D27
    border-top: none
    border-radius: 0px
  .wikiaction
    margin-top: 0px
    &:hover
      background: none

/* main content area

.wiki-page-content > hr
  border: none
  margin-bottom: 20px

/* bottom line

/* table of contents

div.wiki div.toc > ul
  width: 300px
  overflow: hidden
  background: none !important
  border: 1px solid gray
  margin-top: 20px
  padding: 4px 10px !important
  list-style: none !important

.md.wiki > .toc > ul ul
  border: none

.wiki .toc > ul::before
  display: block!important
  content: "INDEX"
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  color: gray
  text-align: left
  margin-top: -21px
  margin-left: -11px
  width: 300px
  position: absolute!important
  
  
  
/*comment page specific styles
.linkinfo
  background: none
  
.link .usertext .md
  background-color: $background
  max-width: 90em
  margin: 0 5px

.md blockquote, .help blockquote
  border-left: 2px solid $linkVisited

.commentarea .comment
  background: none !important
  .comment
    background: none !important
    .comment
      background: none !important
      .comment
        background: none !important
        .comment
          background: none !important
          .comment
            background: none !important
            .comment
              background: none !important
              .comment
                background: none !important
                .comment
                  background: none !important
                  .comment
                    background: none !important




  
.usertext-body
  background: none
  
  
/* submit a link
.submit-link 
  display: none
.morelink
  background: none
  border: 1px solid gray
  &:hover
    background: none
    border: 1px solid gray
  a
    color: $linkVisited
  .nub
    display: none
  + .spacer
    display: none
    padding: 0px
    a
      display: none
  &:hover + .spacer
    display: block
    
    
// /submit page

.content.submit .info-notice, .tabmenu.formtab .selected a
  background: none
  
.tabmenu.formtab a
  border: none
  
.formtab-content
  border-top: 2px solid white

  
/* reddit give gold
.give-gold
  visibility: hidden
  float: right
.entry:hover .give-gold
  visibility: visible

.entry:hover .flat-list.buttons
  display: inline
  
  
//reddit gold features

.new-comment .usertext-body
  background: none !important
  border: none !important
  
  
  

  
//dropdown menu
.choice:hover
  background: #333 !important
  
  

//tag *[+1]* flair
.voteWeight
  color: $textFace !important
  background: none !important


//view more next (pagination non res)
.nextprev a
  background: none
  
//about help tools <3 bottom of all pages
.footer
  border: 1px solid gray
  border-radius: 0px