/*sidebar
.side
  color: $textFace !important
  background: none
  z-index: 500
.side
  .titlebox
    color: $textFace
    .redditname a
      text-transform: uppercase
      color: $textFace !important
    //subscriber count
    .word
      display: none
    .number::after
      content: " broodlings"
    //create your own subreddit
    &.create
      display: none
    .spacer
      background: none
    //subscribe button
    .titlebox form.toggle
      background: none

    //you are a moderator of this subreddit.
    .leavemoderator
      background: none
      
    //show flair on this subreddit
    .flairtoggle
      background: none	
    //created by, community for x months
    .bottom
      display: none
    //show my flair on this reddit.  It looks like:
    .tagline
      background-color: $background
      margin: 2px
      border-radius: 5px
      padding: 5px 0 5px 20px
.side
  //MODERATION TOOLS/MODERATORS/RECENTLY VIEWED LINKS
  .sidecontentbox .content
    background-color: $background
    
/*mostly a helper for the side expandos
.side hr
  display: none
  
  
/*side expandos
.side
  blockquote
    border: none !important
    padding: 0px
    margin: 0px !important
    padding-top: 10px
    blockquote
      /*display:none;
      padding-bottom: 0px
      padding-top: 0px
      height: 25px
      overflow: hidden
      opacity: .5
    &:hover
      blockquote
        display: block
        height: auto
        opacity: 1
        padding-bottom: 5px
      
      
/* sidebar
/* about

.side
  .usertext-body
    border: 1px solid gray
    padding: 5px
  .usertext
    margin-top: 5px
    &::before
      content: "INFORMATION"
      color: gray
      font-size: 13px