@import functions
@import modules_res
@import modules_side
@import modules_thing
@import modules_stickies
@import modules_text_features
@import modules_commentpage
@import modules_header
@import modules_misc
@import modules_wiki
@import modules_flair

//moderation tools
.icon-menu a
  background: none

//seach reddit & previous search
#search input[type="text"]
  background: $background
  color: $textFace !important //important to override style in search results page
  border: 0px solid white
  border-radius: 0px
  outline: none
  padding: 3px 6px
  opacity: .75
  width: 290px
  border-radius: 0
  &:hover
    box-shadow: 0px 0px 5px 0px $linkNormal
  &:focus
    padding: 2px 5px
    border: 1px solid white
    opacity: 1
//search helper
.infobar
  background: none
  border-color: $borderColor

//subreddit links header stuff
#sr-header-area
  position: relative
  z-index: 901
  width: 100%

#header #header-bottom-left
  //hot new controversial top saved
  ul.tabmenu
    position: absolute
    bottom: 0px
    left: 0px
    z-index: 200
    li
      font-weight: normal
      #viewImagesButton
        display: none

  //reddit name karma messages preferences logout
  #header-bottom-right
    z-index: 200
    background: none


// parent comment popup dimmer
.parentComment.comment
  color: white !important
  background-color: $background !important
  overflow: visible !important
  z-index: 2147483649 !important
  box-shadow: 0px 0px 250px 200px $background



.usertext-body
  background: none



// /submit page
.content.submit .info-notice, .tabmenu.formtab .selected a
  background: none

.tabmenu.formtab a
  border: none

.formtab-content
  border-top: 2px solid white


//reddit gold features
.new-comment .usertext-body
  background: none !important
  border: none !important



//dropdown menu
.choice:hover
  background: #333 !important



//tag *[+1]* flair
.voteWeight
  color: $textFace !important
  background: none !important


//view more next (pagination non res)
.nextprev a
  background: none

//about help tools <3 bottom of all pages
.footer
  border: 1px solid gray
  border-radius: 0px