%league-bronze-1-s-16
  background: url(%%allleagues%%) 0 -2768px no-repeat
%league-bronze-1-s-32
  background: url(%%allleagues%%) 0 -1952px no-repeat
%league-bronze-1-s-64
  background: url(%%allleagues%%) 0 -256px no-repeat
%league-silver-1-s-16
  background: url(%%allleagues%%) 0 -2864px no-repeat
%league-silver-1-s-32
  background: url(%%allleagues%%) 0 -2080px no-repeat
%league-silver-1-s-64
  background: url(%%allleagues%%) 0 -512px no-repeat
%league-gold-1-s-16
  background: url(%%allleagues%%) 0 -2688px no-repeat
%league-gold-1-s-32
  background: url(%%allleagues%%) 0 -1824px no-repeat
%league-gold-1-s-64
  background: url(%%allleagues%%) 0 0 no-repeat
%league-platinum-1-s-16
  background: url(%%allleagues%%) 0 -2736px no-repeat
%league-platinum-1-s-32
  background: url(%%allleagues%%) 0 -1856px no-repeat
%league-platinum-1-s-64
  background: url(%%allleagues%%) 0 -384px no-repeat
%league-diamond-1-s-16
  background: url(%%allleagues%%) 0 -2752px no-repeat
%league-diamond-1-s-32
  background: url(%%allleagues%%) 0 -1920px no-repeat
%league-diamond-1-s-64
  background: url(%%allleagues%%) 0 -64px no-repeat
%league-master-1-s-16
  background: url(%%allleagues%%) 0 -2720px no-repeat
%league-master-1-s-32
  background: url(%%allleagues%%) 0 -1888px no-repeat
%league-master-1-s-64
  background: url(%%allleagues%%) 0 -192px no-repeat
%league-grandmaster-1-s-16
  background: url(%%allleagues%%) 0 -2704px no-repeat
%league-grandmaster-1-s-32
  background: url(%%allleagues%%) 0 -1792px no-repeat
%league-grandmaster-1-s-64
  background: url(%%allleagues%%) 0 -128px no-repeat
%league-bronze-2-s-16
  background: url(%%allleagues%%) 0 -2880px no-repeat
%league-bronze-2-s-32
  background: url(%%allleagues%%) 0 -2176px no-repeat
%league-bronze-2-s-64
  background: url(%%allleagues%%) 0 -704px no-repeat
%league-silver-2-s-16
  background: url(%%allleagues%%) 0 -2912px no-repeat
%league-silver-2-s-32
  background: url(%%allleagues%%) 0 -2304px no-repeat
%league-silver-2-s-64
  background: url(%%allleagues%%) 0 -1088px no-repeat
%league-gold-2-s-16
  background: url(%%allleagues%%) 0 -2784px no-repeat
%league-gold-2-s-32
  background: url(%%allleagues%%) 0 -2016px no-repeat
%league-gold-2-s-64
  background: url(%%allleagues%%) 0 -320px no-repeat
%league-platinum-2-s-16
  background: url(%%allleagues%%) 0 -2816px no-repeat
%league-platinum-2-s-32
  background: url(%%allleagues%%) 0 -2144px no-repeat
%league-platinum-2-s-64
  background: url(%%allleagues%%) 0 -832px no-repeat
%league-diamond-2-s-16
  background: url(%%allleagues%%) 0 -2832px no-repeat
%league-diamond-2-s-32
  background: url(%%allleagues%%) 0 -2112px no-repeat
%league-diamond-2-s-64
  background: url(%%allleagues%%) 0 -448px no-repeat
%league-master-2-s-16
  background: url(%%allleagues%%) 0 -2848px no-repeat
%league-master-2-s-32
  background: url(%%allleagues%%) 0 -2048px no-repeat
%league-master-2-s-64
  background: url(%%allleagues%%) 0 -640px no-repeat
%league-grandmaster-2-s-16
  background: url(%%allleagues%%) 0 -2800px no-repeat
%league-grandmaster-2-s-32
  background: url(%%allleagues%%) 0 -1984px no-repeat
%league-grandmaster-2-s-64
  background: url(%%allleagues%%) 0 -576px no-repeat
%league-bronze-3-s-16
  background: url(%%allleagues%%) 0 -3008px no-repeat
%league-bronze-3-s-32
  background: url(%%allleagues%%) 0 -2464px no-repeat
%league-bronze-3-s-64
  background: url(%%allleagues%%) 0 -1280px no-repeat
%league-silver-3-s-16
  background: url(%%allleagues%%) 0 -3104px no-repeat
%league-silver-3-s-32
  background: url(%%allleagues%%) 0 -2624px no-repeat
%league-silver-3-s-64
  background: url(%%allleagues%%) 0 -1664px no-repeat
%league-gold-3-s-16
  background: url(%%allleagues%%) 0 -2896px no-repeat
%league-gold-3-s-32
  background: url(%%allleagues%%) 0 -2240px no-repeat
%league-gold-3-s-64
  background: url(%%allleagues%%) 0 -768px no-repeat
%league-platinum-3-s-16
  background: url(%%allleagues%%) 0 -2992px no-repeat
%league-platinum-3-s-32
  background: url(%%allleagues%%) 0 -2368px no-repeat
%league-platinum-3-s-64
  background: url(%%allleagues%%) 0 -1344px no-repeat
%league-diamond-3-s-16
  background: url(%%allleagues%%) 0 -3072px no-repeat
%league-diamond-3-s-32
  background: url(%%allleagues%%) 0 -2336px no-repeat
%league-diamond-3-s-64
  background: url(%%allleagues%%) 0 -1024px no-repeat
%league-master-3-s-16
  background: url(%%allleagues%%) 0 -2960px no-repeat
%league-master-3-s-32
  background: url(%%allleagues%%) 0 -2400px no-repeat
%league-master-3-s-64
  background: url(%%allleagues%%) 0 -1152px no-repeat
%league-grandmaster-3-s-16
  background: url(%%allleagues%%) 0 -2944px no-repeat
%league-grandmaster-3-s-32
  background: url(%%allleagues%%) 0 -2208px no-repeat
%league-grandmaster-3-s-64
  background: url(%%allleagues%%) 0 -1216px no-repeat
%league-bronze-4-s-16
  background: url(%%allleagues%%) 0 -3088px no-repeat
%league-bronze-4-s-32
  background: url(%%allleagues%%) 0 -2560px no-repeat
%league-bronze-4-s-64
  background: url(%%allleagues%%) 0 -1472px no-repeat
%league-silver-4-s-16
  background: url(%%allleagues%%) 0 -3056px no-repeat
%league-silver-4-s-32
  background: url(%%allleagues%%) 0 -2656px no-repeat
%league-silver-4-s-64
  background: url(%%allleagues%%) 0 -1728px no-repeat
%league-gold-4-s-16
  background: url(%%allleagues%%) 0 -2928px no-repeat
%league-gold-4-s-32
  background: url(%%allleagues%%) 0 -2272px no-repeat
%league-gold-4-s-64
  background: url(%%allleagues%%) 0 -896px no-repeat
%league-platinum-4-s-16
  background: url(%%allleagues%%) 0 -3040px no-repeat
%league-platinum-4-s-32
  background: url(%%allleagues%%) 0 -2528px no-repeat
%league-platinum-4-s-64
  background: url(%%allleagues%%) 0 -1600px no-repeat
%league-diamond-4-s-16
  background: url(%%allleagues%%) 0 -3120px no-repeat
%league-diamond-4-s-32
  background: url(%%allleagues%%) 0 -2432px no-repeat
%league-diamond-4-s-64
  background: url(%%allleagues%%) 0 -960px no-repeat
%league-master-4-s-16
  background: url(%%allleagues%%) 0 -2976px no-repeat
%league-master-4-s-32
  background: url(%%allleagues%%) 0 -2592px no-repeat
%league-master-4-s-64
  background: url(%%allleagues%%) 0 -1408px no-repeat
%league-grandmaster-4-s-16
  background: url(%%allleagues%%) 0 -3024px no-repeat
%league-grandmaster-4-s-32
  background: url(%%allleagues%%) 0 -2496px no-repeat
%league-grandmaster-4-s-64
  background: url(%%allleagues%%) 0 -1536px no-repeat


.flair
  background: none
  color: $textFace
  border: none
  margin: 0px
  padding: 0px 
  &.flair-Mod
    border: red solid 1px
    border-radius: 0px
    border-width: 0px 0px 0px 1px
    margin-right: 5px
    margin-left: 1px
    padding-left: 2px
  &.flair-Master, &.flair-Grandmaster, &.flair-Diamond, &.flair-Platinum, &.flair-Gold, &.flair-Silver, &.flair-Bronze
    background-repeat: no-repeat
    padding-left: 16px
    height: 14px
    width: 0
    margin: 0
    text-indent: -9999px
  &.flair-Bronze
    @extend %league-bronze-4-s-16
  &.flair-Silver
    @extend %league-silver-4-s-16
  &.flair-Gold
    @extend %league-gold-4-s-16
  &.flair-Platinum
    @extend %league-platinum-4-s-16
  &.flair-Diamond
    @extend %league-diamond-4-s-16
  &.flair-Master
    @extend %league-master-4-s-16
  &.flair-Grandmaster
    @extend %league-grandmaster-4-s-16
  &.flair-HotS
    color: #9452c6

a:hover ~ .flair, .flair:hover
  &.flair-Master, &.flair-Grandmaster, &.flair-Diamond, &.flair-Platinum, &.flair-Gold, &.flair-Silver, &.flair-Bronze
    width: auto
    text-indent: 2px
  &.flair-EU::after
    content: " (EU)"
    color: grey
  &.flair-NA::after, &.flair-AM::after
    content: " (AM)"
    color: grey
  &.flair-KR::after
    content: " (KR)"
    color: grey
  &.flair-SEA::after
    content: " (SEA)"
    color: grey
  @for $i from 2 through 12
    &.flair-S#{$i}
      &::before 
        $text: "(Season "+$i+")"
        content: $text
        float: right
        color: gray
  @for $year from 2013 through 2014
    @for $season from 1 through 6
      &.flair-S#{$year}-#{$season}
        &::before
          $text: "("+$year+" Season "+$season+")"
          content: $text
          float: right
          color: gray
