//RES specific features


/*res extension fixes
.NERPageMarker
  background: none !important
  border-width: 0px 0px 1px 0px !important
  border-radius: 0px !important
  border-style: dashed !important
  padding-top: 0px !important
  border-color: gray !important
  color: $textFace !important

.neverEndingReddit
  background: none !important
  border-width: 0px 0px 1px 0px !important
  border-radius: 0px !important
  border-style: dashed !important
  padding-top: 0px !important
  border-color: gray !important
  color: $textFace !important
  img
    display: none

/* author info tool tip

.RESDialogSmall
  background-color: $background !important
  color: $textFace !important
  > h3
    background-color: #222 !important
    color: $textFace !important

#authorInfoToolTip .blueButton
  background-color: #21587E !important

.fancy-toggle-button .add
  background: #116428 !important

.RESCloseButton
  background: $background !important
  &:hover
    background: #444 !important


