/* sticky for subscribers
.side h4
  padding: 2px 6px 0 6px
  margin: 0px
  position: absolute
  top: 129px
  left: 550px
  z-index: 100
  font-size: 12px
  font-weight: normal
  display: none
  opacity: .8

body.subscriber .side h4
  display: block
  
/* sticky for mods
.side h5
  padding: 2px 6px 0 6px
  margin: 0px
  position: absolute
  top: 129px
  left: 445px
  z-index: 100
  font-size: 12px
  font-weight: normal
  display: none
  
body.moderator.listing-page .side h5
  display: block
  
/* sticky (for all)
.side h6
  border: none !important
  padding: 4px
  margin: 0px
  position: absolute
  top: 25px
  left: 295px
  z-index: 100
  border-radius: 5px
  font-size: small
  max-width: 450px
  box-shadow: 0px 0px 15px 0px white
  a:hover
    text-decoration: underline
    