$background: black
$textFace: #eee
$altBackground: #222
$altFace: #fff
$headerColor: #ddd
$linkVisited: #A60
$linkNormal: #fc0
$linkHover: #ff0
$selectionBack: #11a
$selectionFace: white
$thingSelected: #002
$codeColor: rgb(55, 223, 55)
$borderColor: gray


body
  background: url(%%background%%)

.arrow
  height: 22px
  width: 22px
  background-position: 0px 0px !important
  background: none
  &.down
    background-image: url(%%arrow-down-off%%)
  &.downmod
    background-image: url(%%arrow-down%%)
  &.up
    background-image: url(%%arrow-up-off%%)
  &.upmod
    background-image: url(%%arrow-up%%)