$background: black
$textFace: #eee
$headerColor: #ddd
$linkVisited: #A60
$linkNormal: #fc0
$linkHover: #ff0
$selectionBack: #11a
$selectionFace: white
$thingSelected: #002
$codeColor: rgb(55, 223, 55)
$borderColor: gray


body
  background: url(%%background%%)

//header
#header
  border-bottom: 1px solid #B67D27
  background-color: $background
  height: 145px
  margin-bottom: 15px

  // header image
  .pagename.redditname a
    background: url(%%banneroff%%)
    width: 1670px
    height: 125px
    display: inline-block
    position: absolute
    left: 0px
    top: 19px
    text-indent: -9999px
    z-index: -100
    background-repeat: no-repeat
    &:hover
      background: url(%%banneron%%)

//carbot ling :D
#header-img
  opacity: .4
  position: absolute
  bottom: 40px
  left: -35px
  z-index: 300
  height: 44px
  width: 66px
  //he jumps!
  &:hover
    opacity: 1
    left: -15px


.arrow
  height: 22px
  width: 22px
  background-position: 0px 0px !important
  background: none
  &.down
    background-image: url(%%arrow-down-off%%)
  &.downmod
    background-image: url(%%arrow-down%%)
  &.up
    background-image: url(%%arrow-up-off%%)
  &.upmod
    background-image: url(%%arrow-up%%)