/* light theme
$background: white
$textFace: black
$headerColor: #222
$linkVisited: #780000
$linkNormal: #DE0000
$linkHover: #F70000
$selectionBack: #11a
$selectionFace: white
$thingSelected: #ddf


html[lang="ll"]
  #search input[type="text"]
    border: 1px solid black
  .listing-page .thing .title .title
    text-shadow: 1px 1px 3px #0F0000
  .morelink:hover a
    color: black
  .flair
    color: black
    
  /*side expandos
  .side
    blockquote
      //& 
        //blockquote
          //opacity: 0
      &:hover
        blockquote
          padding-bottom: 0px
          //opacity: 1
  #header
    box-shadow: 0px -10px 10px 10px black
  .side h4, .side h5
    top: 207px
    
  .pagename.redditname a
    display: none